body {
background-color: rgb(211, 151, 78);
}

.logoOmniasConnexion {
    height: 100px;
    width: 200px;
}

.borderFormConnexion {
    border-radius: 40px;
}

.myButton{
    height: 215px;
    width: 215px;
}
